@font-face {
  font-family: Pokemon-Solid;
  src: url("/assets/fonts/Pokemon_Solid.ttf");
}

@font-face {
  font-family: Pokemon-Hollow;
  src: url("/assets/fonts/Pokemon_Hollow.ttf");
}

@font-face {
  font-family: PressStart2P_Regular;
  src: url("/assets/fonts/PressStart2P_Regular.ttf");
}
