:root {
  --theme-1-color: 231, 61, 61;
  --theme-1-contrast-color: 255, 255, 255;

  --theme-2-color: 86, 71, 137;
  --theme-2-contrast-color: 255, 255, 255;

  --theme-3-color: 255, 189, 18;
  --theme-3-contrast-color: 255, 255, 255;

  --background-1-color: 250, 250, 250;
  --background-1-contrast-color: 0, 0, 0;

  --background-2-color: 215, 215, 215;
  --background-2-contrast-color: 0, 0, 0;

  --font-1: "Pokemon-Solid";
  --font-2: "Pokemon-Hollow";
  --font-3: "PressStart2P_Regular";

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
}
